*{box-sizing: border-box; margin:0;padding:0;}

        body { background: #a69076;
        padding:3%;
        margin:auto;
        }

        .general {max-width: 670px;
        margin:auto;
        }

        .navbar {display:flex;
        background-color: #260d0d;
        max-width: 100%;
        border:5px ridge #402721;
        box-shadow: 10px 10px 15px #402721;
        }

        a {
        display:block;
        padding:5px;
        color:#a69076;
        font-size:20px;
        text-align:center;
        border: 1px solid;
        margin: 3px;
    text-decoration: none;}


        a:hover {
  color: rgb(238, 238, 148);
}

        
        img {
        max-width:100%;;
        height:auto;
        border:5px ridge #402721;
        margin-top:10px;
        box-shadow: 10px 10px 15px #402721;
        }

        .text {margin-right:auto;
        margin-left:auto;
        margin-top:10px;
        max-width:800px;
    color:#260d0d;
        border:5px ridge #402721;
    padding:15px;
    background-color:#bfaf8f;
box-shadow: 10px 10px 15px #402721;}



        @media screen and (max-width: 450px) {
        .navbar {   
        flex-direction: column;
  }}