
    body {
    background: #a69076;
    padding:3%;
    color:#260d0d;
   }
*{box-sizing:border-box;}

h1{text-align:center;
color:#260d0d;}

img {width:100%;}

/*Style inputs*/
input[type=text], textarea{
    width:100%;
    padding:12px;
    border: 2px solid #260d0d;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
    background-color:#735b46;
}

input[type=submit]{
    background-color: #260d0d;
  color:#bfaf8f;
  padding: 12px 20px;
  border: 1px solid;
  border-color:#bfaf8f;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #735b46;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #bfaf8f;
  padding: 10px;
border:5px ridge #402721;
max-width: 800px;
margin:auto;}

/*Create 2 columns that float next to eachother*/
.column {
    float: left;
    width:50%;
    margin-top: 6px;
    padding:20px;
    border:5px ridge #402721;
    
}
/*Clear floats after the columns*/
.row:after {
  content:"";
  display:table;
  clear:both;
  }
/* Responsive layout - when the screen is less than 450px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:450px) {
    .column, input[type=submit] {
        width:100%;
        margin-top:0;
    }
}
@media screen and (max-width: 450px) {
  .navbar {   
    flex-direction: column;}}

.navbar {display:flex;
background-color: #260d0d;
max-width: 1340px;
border:5px ridge #402721;
}

 a {
 display:block;
padding:5px;
color:#a69076;
font-size:20px;
text-align:center;
border: 1px solid;
margin: 3px;}

a:hover{color:rgb(238, 238, 148);}

